@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
form input {
  padding: 10px 12px;
  background-color: #ddd;
  border-radius: 4px;
  transition: 200ms;
}
form input[type=submit] {
  font-size: 18px;
  cursor: pointer;
  background-color: #1f1f81;
  color: #fff;
}
form input[type=submit]:focus, form input[type=submit]:hover {
  background-color: #181866;
}
form input:focus, form input:hover {
  background-color: #bbb;
}
form textarea {
  background-color: #ddd;
  padding: 10px 12px;
  border-radius: 4px;
  transition: background 200ms;
}
form textarea:focus, form textarea:hover {
  background-color: #bbb;
}
form select {
  padding: 10px;
  border-radius: 2px;
  font-size: 15px;
}

body {
  height: 100svh;
  overflow-x: hidden;
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav main";
}
body nav {
  grid-area: "nav";
  background-color: #1f1f81;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  font-size: 24px;
  color: #fff;
}
body nav span {
  display: flex;
  flex-direction: column;
  height: 27px;
  overflow-y: hidden;
}
body nav span a {
  font-size: 0.8em;
  margin-left: 30px;
}
body nav label i {
  margin-right: 5px;
  margin-left: 5px;
}
body main {
  grid-area: "main";
  background-color: #fdfdfd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
body main > h1 {
  margin-bottom: 30px;
}
body main section.filmes {
  width: 60%;
}
body main section.filmes div.filme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding: 15px;
  border-radius: 8px;
}
body main section.filmes div.filme div.filme-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
}
body main section.filmes div.filme:nth-child(even) {
  background-color: #ddd;
}
@media screen and (max-width: 1024px) {
  body main section.filmes div.filme {
    flex-direction: column;
    row-gap: 20px;
  }
}
body main section.categorias {
  width: 60%;
}
body main section.categorias div.categoria {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}
body main section.categorias div.categoria:nth-child(even) {
  background-color: #ddd;
}
body main section.lojas {
  width: 60%;
}
body main section.lojas div.loja {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}
body main section.lojas div.loja:nth-child(even) {
  background-color: #ddd;
}
body main div.categoria div.btns,
body main div.filme div.btns,
body main div.loja div.btns {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
body main div.categoria div.btns i,
body main div.filme div.btns i,
body main div.loja div.btns i {
  width: 25px;
  height: 25px;
  background-color: #7575e4;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}
body main div.categoria div.btns i::before,
body main div.filme div.btns i::before,
body main div.loja div.btns i::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main div.categoria div.btns i.fa-pen,
body main div.filme div.btns i.fa-pen,
body main div.loja div.btns i.fa-pen {
  background-color: #3eb66c;
}
body main div.categoria div.btns i.fa-trash,
body main div.filme div.btns i.fa-trash,
body main div.loja div.btns i.fa-trash {
  background-color: #d64141;
}

/*# sourceMappingURL=style.css.map */
